<<<<<<< HEAD
.map picture {
  position: relative;
}

=======
>>>>>>> c6b48baf18f75664a97f578bf24a33e9fcbdcf7e
@media (min-width: @tablet-width) {
  .map img {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .map img {
    width: 100%;
  }
}
