.page-photo__wrapper {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.page-photo__title {
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.page-photo__description {
  .font-normal();
  text-transform: uppercase;
}

.page-photo__gallery {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: 5px dotted red;
}
