.page-main__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  outline: 5px dotted red;
}

.page-main__promo,
.advantages-photo__image {
  margin-left: -20px;
}

.page-main__item {
  text-align: center;
  text-transform: uppercase;
  outline: 5px dotted red;
}

.page-main__town-title {
  margin-bottom: 40px;
  .font-bold();
}

.page-main__title {
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
}
