.social {
  width: 151px;
  margin-left: 84px;
  margin-bottom: 33px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social__link {
  padding: 12px;
  &:hover {
    background-color: #669ec0;
  }
  &:active {
    opacity: 0.3;
    background-color: #5496bd;
  }
}

.social__item--facebook .social__link {
  padding: 17px;
  padding-bottom: 7px;
}

.social__item svg {
  margin-top: 16px;
  fill: #ffffff;
}

@media (min-width: @tablet-width) {
  .social {
    width: 155px;
    margin-left: 107px;
  }
}

@media (min-width: @desktop-width) {
  .social {
    margin-left: 260px;
  }
}
